body {
    background-image: linear-gradient(to bottom right, #ffecd2, #fcb69f);
    border-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Add any other background styles here */
  }